
html {
	background: url(../backgrounds/blue_radial.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	position: relative;
	color: white;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: sans-serif;
}

body > #left_bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 190px;
	height: 100%;
	background: black;
	opacity: 0.4;
	overflow: hidden;
	z-index: 0;
}

body > #left {
	position: fixed;
	left: 0;
	top: 0;
	width: 190px;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

body > #left .tag {
	/* unselected */
	margin: 5px 10px;
	font-size: 18px;
	color: #fff;
	padding: 3px 5px;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid transparent;
	user-select: none;
	opacity: 0.3;
}

body > #left .tag.selected {
	/* background luminance normal */
	background-image: url("img/tag_check_mark_faint.png");
	background-origin: content-box;
	background-position: right center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	opacity: 1;
}

body > #left .tag:hover {
	box-shadow: 0 0 8px #000;
}

body > #left .tag.selected:hover {
	box-shadow: 0 0 8px #777;
}

body > #center {
	margin-left: 190px;
	overflow: auto;
	line-height: 0;
}


a.thumbnail_link {
	/*border: 2px solid #000;*/
	display: inline-block;
	position: relative;
	text-decoration: none;
	/*transition: border-color .75s ease-out, transform .4s ease-out, opacity .75s ease-out, box-shadow .75s ease-out;
	transform: scale(0.8, 0.8);
	opacity: 0;*/
	z-index: 0;

	margin: 0 0 20px 0;
	user-select: none;
}

a.thumbnail_link:hover {
	/*border: 2px solid #ffffff;*/
	-moz-transition: border-color .01s ease;
	-moz-transition: box-shadow .01s ease;
	-moz-transition: opacity .01s ease;
	box-shadow: 0 0 15px #000;
	z-index: 1000 !important;
	opacity: 1.0 !important;
}

a.thumbnail_link > span.label {
	color: #FFFFFF;
	display: block;
	left: 0;
	line-height: 100%;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: -1;
}

body.searching a.thumbnail_link > span.label {
	z-index: 10000;
}

a.thumbnail_link > span.label > span{
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	display: inline-block;
	padding: 2px 4px;
	position: relative;
	top: 2px;
}

a.thumbnail_link > img {
	border: 0 none;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

a.thumbnail_link > div.controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 56px;
	height: 24px;
	z-index: 1000;
	padding: 4px;
	display: none;
}

a.thumbnail_link:hover > div.controls {
	display: block;
}

a.thumbnail_link > div.controls > div {
	float: right;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background: #fff;
	opacity: 0.5;
	cursor: pointer;
}

a.thumbnail_link > div.controls > div:hover {
	opacity: 1;
}

a.thumbnail_link > div.controls > div.remove {
	background: url(img/remove_icon.png) no-repeat 0 0;
}

a.thumbnail_link > div.controls > div.edit {
	background: url(img/edit_icon.png) no-repeat 0 0;
	margin-right: 8px;
}

a.thumbnail_link > div.tag_strip {
	color: #ffffff;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-weight: 500;
	height: 16px;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 100%;
	width: 100%;
}

a.thumbnail_link > div.tag_strip > div.tag {
	float: left;
	height: 14px;
	background: #ff9955;
	line-height: 12px;
	padding: 0 3px;
}

a.thumbnail_link > div.tag_strip > div.tag + div.tag {

}

a.thumbnail_link > div.tag_strip > div.clear {
	clear: both;
}


#controls_area {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 25px;
}

.button {
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000;
	line-height: 27px;

	cursor: pointer;
	margin: 5px 10px;
	padding: 0 5px;

	border: 2px solid rgba(0, 0, 0, 0.5);
	background: #677096 url(img/button_bg.png) repeat-x top;
}

#add_site_dialog {
	display: none;

	left: 50%;
	z-index: 1000;
	position: fixed;
	top: 50%;
	margin-top: -200px;
	width: 500px;
	margin-left: -250px;
	box-shadow: 0px 0px 20px rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.95);
}

#add_site_dialog > .titlebar {
	color: rgb(255, 255, 255);
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	padding: 0px 6px;
	background: url(img/button_bg.png) repeat-x scroll center top rgb(103, 112, 150);
	border-bottom: 1px solid rgb(0, 0, 0);
	box-shadow: 0px 2px 2px rgb(53, 58, 83);
	cursor: default;
	font-size: 18px;
}

#add_site_dialog > .padding {
	padding: 16px;
}

#add_site_dialog table {
	width: 100%;
}

#add_site_dialog table tr > td {
	padding-bottom: 10px;
}

#add_site_dialog table tr > td:first-child {
	width: 100px;
}

#add_site_dialog table tr > td > input[type=text] {
	width: 100%;
	background: #272c3d;
	border-width: 1px;
	border-style: solid;
	color: #fff;
	border-color: rgb(61, 66, 88) rgb(123, 133, 171) rgb(123, 133, 171) rgb(61, 66, 88);
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
	height: 20px;
}

#add_site_dialog table tr > td > span.tag {
	padding: 0px 6px;
	font-weight: bold;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	color: rgb(255, 255, 255);
	background: #b99a31;
	cursor: default;
	width: 75px;
	overflow: hidden;
}

#add_site_dialog table tr > td > span.tag > input[type=checkbox] {
	position: relative;
	top: 1px;
	margin-right: 8px;
}

#add_site_dialog div.button {
	margin: 0;
	width: auto;
	float: left;
}

#add_site_dialog iframe {
	border: 0 none;
	width: 100%;
	height: 64px;
	overflow: hidden;
}