
body {
	background: -moz-linear-gradient(center top, #006093 0%, #293f69 100%) repeat fixed 0 0 rgba(0, 0, 0, 0);


	position: relative;
	color: white;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: sans-serif;
}

.fatal_error {
	margin: 10px;
	padding: 10px;
	border: 2px solid #fd778e;
	background: #fec5ce;
	color: black;
	font-size: 24px;
	font-weight: bold;
}
.fatal_error .more_info {
	font-family: Consolas, "Deja Vu Sans Mono", monospace;
	font-size: 16px;
	font-weight: normal;
}

body > #left_bg {
	position: fixed;
	/* width is calculated */
	left: 0;
	top: 0;
	width: 190px;
	height: 100%;
	background: black;
	opacity: 0.4;
	overflow: none;
	z-index: 0;
}

body > #left {
	position: fixed;
	/* width is calculated */
	left: 0;
	top: 0;
	width: 190px;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

body > #center {
	margin-left: 190px;
	overflow: auto;
	line-height: 0;
}

#left .tag {
	/* unselected */
	margin: 5px 10px;
	font-size: 18px;
	color: black;
	border: 2px solid rgba(0, 0, 0, 0.4);
	padding: 3px 5px;
	font-weight: bold;
	cursor: pointer;
}

#left .tag.selected {
	/* background luminance normal */
	border: 2px solid rgba(255, 255, 255, 0.75);
	background-image: url("img/tag_check_mark_faint.png");
	background-origin: content-box;
	background-position: right center;
	background-repeat: no-repeat;
}

#left .tag:hover {
	box-shadow: 0 0 3px white;
}

#left .tag.selected:hover {
	box-shadow: 0 0 8px white;
}

a.thumbnail_link {
	border: 2px solid #000;
	display: inline-block;
	position: relative;
	text-decoration: none;
	transition: border-color .75s ease-out, transform .4s ease-out, opacity .75s ease-out, box-shadow .75s ease-out;
	transform: scale(0.8, 0.8);
	opacity: 0;
	z-index: 95;
}

a.thumbnail_link > img {
	border: 0 none;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

}

a.thumbnail_link:hover {
	border: 2px solid #000000;
	-moz-transition: border-color .01s ease;
	-moz-transition: box-shadow .01s ease;
	-moz-transition: opacity .01s ease;
	box-shadow: 0 0 25px #000000;
	z-index: 100;
	opacity: 1.0 !important;
}